<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Thememe</title>
    </head>
    <body>
        <form method="post">
            <input type="text" name="text">
            <button>Send</button>
        </form>
        <script src=""></script>
    </body>
</html>