<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Thememe</title>
</head>

<body>
    <a href="/create">Add</a>

    <% arr.forEach(function(item) { %>
    <li>
        <%= item %>
    </li>
    <% }) %>

    <script src=""></script>
</body>

</html>