<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <link href="<%= assetFingerprint('/stylesheets/styles.css') %>" rel="stylesheet">
    <title>Pornxub</title>
</head>

<body>

    <header>
        <h3><img src="/images/khinkali.png">Nicholas<img src="/images/khinkali.png"></h3>
    </header>

