<div class="main">
    <article>
        <h3>Nodejs is Great!</h3>

        <p>Node.js is an open-source, cross-platform JavaScript run-time environment that executes JavaScript code
            outside of a browser</p>
    </article>

    <article>
        <h3>Nodejs is Great!</h3>

        <p>Node.js is an open-source, cross-platform JavaScript run-time environment that executes JavaScript code
            outside of a browser</p>
    </article>
</div>