<div class="main">
    <div class="articles">
        <article>
            <h3>Nodejs is Great!</h3>

            <p>Node.js is an open-source, cross-platform JavaScript run-time environment that executes JavaScript code
                outside of a browser</p>
        </article>

        <article>
            <h3>Nodejs is Great!</h3>

            <p>Node.js is an open-source, cross-platform JavaScript run-time environment that executes JavaScript code
                outside of a browser</p>
        </article>

        <article>
            <h3>Nodejs is Great!</h3>

            <p>Node.js is an open-source, cross-platform JavaScript run-time environment that executes JavaScript code
                outside of a browser</p>
        </article>

        <article>
            <h3>Nodejs is Great!</h3>

            <p>Node.js is an open-source, cross-platform JavaScript run-time environment that executes JavaScript code
                outside of a browser</p>
        </article>
    </div>

    <div class="sidebar">
        <form method="post" action="/api/registration">
            <h3>Register</h3>
            <label for="email">E-mail</label>
            <input type="text" name="email">
            <label for="password">Password</label>
            <input type="text" name="password">

            <button>Ok!</button>
        </form>
    </div>
</div>